@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 280 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 280 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 280 6% 10%;

    --primary: 284 80% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 284 22% 90%;
    --secondary-foreground: 280 6% 10%;

    --muted: 300 8% 95%;
    --muted-foreground: 282 5% 40%;

    --accent: 280 12% 95%;
    --accent-foreground: 280 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 280 12% 95%;
    --input: 280 16% 93%;
    --ring: 284 30% 85%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 8% 5%;
    --foreground: 231 14% 90%;

    --card: 220 9% 7%;
    --card-foreground: 231 14% 90%;

    --popover: 220 9% 7%;
    --popover-foreground: 231 14% 90%;

    --primary: 233 78% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 233 29% 17%;
    --secondary-foreground: 231 14% 90%;

    --muted: 234 16% 12%;
    --muted-foreground: 233 8% 60%;

    --accent: 235 18% 12%;
    --accent-foreground: 231 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 235 18% 12%;
    --input: 233 24% 15%;
    --ring: 233 39% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply min-h-screen antialiased bg-background text-foreground;
  }
}
