@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 10% 10%;
    --card: 240 17% 98%;
    --card-foreground: 216 10% 10%;
    --popover: 240 17% 98%;
    --popover-foreground: 216 10% 10%;
    --primary: 217 70% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 29% 90%;
    --secondary-foreground: 216 10% 10%;
    --muted: 216 20% 95%;
    --muted-foreground: 216 10% 40%;
    --accent: 216 29% 90%;
    --accent-foreground: 216 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 20% 95%;
    --input: 216 26% 93%;
    --ring: 218 34% 87%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 8% 8%;
    --foreground: 0 0% 98%;
    --card: 214 12% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 214 12% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 70% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 16% 15%;
    --muted-foreground: 217 8% 60%;
    --accent: 218 22% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 219 17% 16%;
    --input: 219 17% 16%;
    --ring: 218 22% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply min-h-screen antialiased bg-background text-foreground;
  }
}
